/* 
===============================================================================================================
    SUBSCRIBE PAGE STYLING
_______________________________________________________________________________________________________________
*/
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper > div {
    margin-left: 10em;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #8000FF;
    height: 100vh;
    width: 7vw;
}   

section img {
    padding-top: 15px;
    cursor: pointer;
}

section img:hover {
    transition: ease-in-out;
    scale: 1.1;
    transition: .6s;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 62.980px;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 120px;
}

.text > h1 {
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 94px;
    line-height: 105px;
    color: #8000FF;
}

.text > h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 105px;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left:2em;
}

.card {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 15px 15px 53px 0px #8000FF1C;
    height: 274px;
    width: 361px;
    margin: 0 1em;
    padding: 10px;
    padding-left: 25px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.card > h4 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.card > p {
    margin-bottom: 50px;
}

.btn {
    width: 168px;
    height: 42px;
    border-radius: 6px;
    border: 0px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.btn:hover {
    scale: 1.1;
    transition: .6s;
    cursor: pointer;
}

#btn1 {
    color: #8000FF;
    background-color: #EAD5FF;
}

#btn2 {
    background-color: #8000FF;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 40px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.icons > img {
    margin-right: 15px;
    cursor: pointer;
}

.icons > img:hover {
    /* transition: ease-in-out; */
    scale: 1.1;
    transition: .8s;
}

ul {
    padding-left: 0;
}

ul > p {
    /* list-style: none; */
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 0;
    cursor: pointer;
}

@media (max-width: 800px) {
    .wrapper > div {
        margin-left:3em;
    }

    .card-wrapper {
        margin-left: 0.5em;
    }
}

@media (max-width: 1130px) {
    .text > h1 {
        margin-top: 5px;
        /* font-size: 65px; */
    }

    .text > h3 {
        margin-bottom: 0;
        line-height: 90px;
    }

    .content {
        margin-top: 10px;
    }

    .card-wrapper {
        justify-content: flex-start;
        flex-direction: column;
    }

    .card {
        margin-bottom: 10px;
    }
}

@media (max-width: 1320px) {
    .right {
        display: none;
    }
}